<a href="https://colab.research.google.com/github/Zakharov1977/data_science/blob/main/HW3_Zakharov_Alexander.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задание 1**

In [ ]:
# Программа возвращает лямбда функцию от аргумента y, 
# Возвращает True, если остаток от деления y на x равен mod, и False иначе.

def mod_checker(x, mod=0):
    return lambda y: y % x == mod
    
mod_3 = mod_checker(3)

print(mod_3(3)) # True
print(mod_3(4)) # False

mod_3_1 = mod_checker(3, 1)
print(mod_3_1(4)) # True

**Задание 2**

In [ ]:
# Функция генерирующая нампаевскую матрицу размером (n, n)

import numpy as np
n = int(input())
v=np.arange(n)%2
m=np.meshgrid(v,v)
chess = np.int8(m[0]!=m[1]) 
print(chess)

**Задание 3**

In [ ]:
# Функция, принимающая 2 аргумента arr и exclude_values. arr
# а также инвертирует все знаки массива

def my_func3( arr, el):
   for i in range(arr.size):
      for j in range(el.size):       
        if arr[i] == el[j]:   
          arr[arr==[i]] = -arr[arr==[i]]
   
#Исходный вектор 
arr = np.arange(10+1)
exclude_values = np.arange(4, 8)
 
my_func3(arr, exclude_values)
print(arr)

**Задание 4**

In [ ]:
# Функция, принимающая одномерный положительный нампаевский массив 
# выводит массив с приведением значений к цельночисленным
# modf divmod, floor_divide, mod, fmod

def my_func4(arr):
  print(arr)

#metod 1
  a1,a=np.modf(arr)
  print(a)

#metod 2
  b1= np.ones(arr.size)
  b,b2= np.divmod(arr, b1)
  print(b)

#metod 3
  с=np.arange(arr.size)
  for i in range(arr.size):
    с[i]=arr[i] // b1[i]
  print(с)

#metod 4
  print(np.floor_divide(arr, 1))

arr = np.random.uniform(low=10, high=100,size=20)
#print(arr)
my_func4(arr)

**Задание 5**

In [ ]:
# Aункцию, принимающая два числа - N и p. 
# N - это размер стороны квадратной матрицы np.zeros.
# p - это количество индексов в матрице (p не превышает N*N)
# Функция возвращает квадратную матрицу со стороной N, 
# в которой ровно p чисел заменены на случайные

def my_func5(N, p):
    s=(N,N)
    arr=np.zeros(s)
    temp = np.asarray(arr)  
    shape = temp.shape       
    temp = temp.flatten()   
    inds = np.random.choice(temp.size, size=p)   
    temp[inds] = np.random.normal(size=p)        
    temp = temp.reshape(shape)                     
    return temp

test = np.arange(24).reshape(2,3,4)
#print(test)
print(my_func5(6, 10))

**Задание 6**

In [1]:
# Создание dataframe c именем my_data
# в котором две колонки (type - строки, value - числа с плавающей точкой)

import pandas as pd
import numpy as np

my_data = pd.DataFrame([['B', '18'],
                  ['B', '20'],
                  ['C', '10'],
                  ['C', '-10']], 
columns=['type','value'])

my_data['type']=my_data['type'].astype('string')
my_data['value']=my_data['value'].astype('float')
print(my_data)

print(my_data.memory_usage())
print(my_data.info())

my_data['type']=my_data['type'].astype('category')
print(my_data.memory_usage())
print(my_data.info())

my_data['value']=my_data['value'].astype('bool')
print(my_data.memory_usage())
print(my_data.info())

  type  value
0    B   18.0
1    B   20.0
2    C   10.0
3    C  -10.0
Index    128
type      32
value     32
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    4 non-null      string
 1   value   4 non-null      float64
dtypes: float64(1), string(1)
memory usage: 192.0 bytes
None
Index    128
type     128
value     32
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    4 non-null      category
 1   value   4 non-null      float64
dtypes: category(1), float64(1)
memory usage: 288.0 bytes
None
Index    128
type     128
value      4
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    4 non-null      category
 1   value   4 non-null      bool
dtypes: bool(1), category(1)
memory usage: 260.0 bytes
None

**Задание 7**

In [ ]:
# Создание dataframe c двумя колонками и десятью тысячами наблюдений
# В каждой колонке 10 уникальныъ значений

import string
import random
import pandas as pd
import numpy as np

my_data7 = pd.DataFrame([['B', '18'],
                  ['B', '20'],
                  ['C', '10'],
                  ['C', '-10']], 
columns=['type','value'])

my_data7['type']=my_data7['type'].astype('string')
my_data7['value']=my_data7['value'].astype('float')



for i in range(9996):
  temp = {'type':random.choice(string.ascii_letters),'value':random.randint(0,100)}
  my_data7.loc[len(my_data7.index)] = temp


print(my_data7)

**Задание 8**

In [2]:

df = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat.csv')
#print(df)

# Сохранение в переменную  subset_1 первые 19 строк и только 1 и 3 колонку

subset_1 = df.loc[0:19, ['V1', 'V3']]
#print(subset_1)

# Сохранение в переменную  subset_2 строки кроме 2, 3 и 18 и 2 и 4 колонку

subset_2  = df.drop(index=[2,3,18], columns=['V1','V3'])
print(subset_2)

       V2   V4
0    13.0  1.0
1     7.0  1.0
4    10.0 -1.0
5    11.0  0.0
6     9.0  2.0
..    ...  ...
495   8.0 -1.0
496   8.0  1.0
497  11.0  2.0
498  11.0  2.0
499   8.0  1.0

[497 rows x 2 columns]

**Задание 9**

In [3]:
# Сохранение в переменную  subset_3 наблюдения
# у которых значения переменной V1 строго больше 0
# и значение переменной V3 равняется 'A'

subset_3 =df[((df['V1'] > 0) & (df['V3'] == 'A'))]
print(subset_3)

# Сохранение в переменную  subset_4 наблюдения
# у которых значения переменной V2 не равняются 10
# или значения переменной V4 больше или равно 1

subset_4 = df[((df['V2'] != 10) | (df['V4'] >= 1))]
print(subset_4)

     V1    V2 V3   V4
3     2  11.0  A  2.0
5     2  11.0  A  0.0
7     1   9.0  A  1.0
10    1  10.0  A  1.0
13    1  12.0  A  3.0
..   ..   ... ..  ...
491   4   7.0  A  2.0
494   1  11.0  A  1.0
495   1   8.0  A -1.0
496   3   8.0  A  1.0
498   1  11.0  A  2.0

[88 rows x 4 columns]
     V1    V2 V3   V4
0     2  13.0  B  1.0
1    -1   7.0  B  1.0
2     0  11.0  A  0.0
3     2  11.0  A  2.0
5     2  11.0  A  0.0
..   ..   ... ..  ...
495   1   8.0  A -1.0
496   3   8.0  A  1.0
497  -1  11.0  B  2.0
498   1  11.0  A  2.0
499   0   8.0  B  1.0

[447 rows x 4 columns]

**Задание 10**

In [ ]:
# Добавление колонок в data set (см. задание 8)

df['V5 '] = df['V1'] + df['V4']
df['V6 '] = np.log(df['V2'])
print(df)

**Задание 11**

In [ ]:
# Переименование колонок в data set в df.
# V1 -> session_value
# V2 -> group
# V3 -> time
# V4 -> n_users

df = df.rename(columns={'V1': 'session_value', 
                        'V2': 'group',
                        'V3': 'time',
                        'V4': 'n_users',})

**Задание 12**

In [ ]:
# Замена в массиве my_stat в колонке session_value пропущенные значения на нули

my_stat = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat_1.csv')
my_stat = my_stat.fillna(0)
my_stat.loc[my_stat["n_users"] < 0, "n_users"] = \
    my_stat.loc[my_stat["n_users"] >= 0, "n_users"].median()
print(my_stat)