<a href="https://colab.research.google.com/github/Zakharov1977/data_science/blob/main/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_%D0%9E%D0%BF%D1%82%D0%B8%D0%BC%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F_Zakharov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Стохастический градиентный и координатный спуски

Для каждого задания указано количество баллов (если они оцениваются отдельно) + 1 балл за аккуратное и полное выполнение всего задания

## Загрузка и подготовка данных

**Загрузите уже знакомый вам файл *Advertising.csv* как объект DataFrame.**

In [1]:
# All data was upload on google disc 
# (folder: https://drive.google.com/drive/u/0/folders/1UF6opSKQG3Ll2q7pEbwiiMFzX-XXdXAL

In [2]:
# подключаем доступ к локальному диску
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Устанавливаем нужные библиотеки
import pandas as pd
import numpy as np

In [4]:
# открываем данные с локального диска
DataSet_one = pd.read_csv('/content/drive/My Drive/HW/Advertising.csv')
df = DataSet_one.copy()
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   radio       200 non-null    float64
 3   newspaper   200 non-null    float64
 4   sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

**Проверьте, есть ли в данных пропуски и, если они есть - удалите их**

In [5]:
#ваш код
df.dropna(inplace=True) # удаляем пропуски
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   radio       200 non-null    float64
 3   newspaper   200 non-null    float64
 4   sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 9.4 KB

**Преобразуйте ваши признаки в массивы NumPy и разделите их на переменные X (предикторы) и y(целевая переменная)**

In [6]:
#ваш код 
y = df['sales'] # целевая переменная
X = df[['TV', 'radio', 'newspaper']] # определяем предикторы

## Координатный спуск (3 балла)

**Добавим единичный столбец для того, чтобы у нас был свободный коэффициент в уравнении регрессии:**

In [7]:
import numpy as np
X = np.hstack([np.ones(X.shape[0]).reshape(-1, 1), X])

In [8]:
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

**Нормализуем данные: обычно это необходимо для корректной работы алгоритма**

In [11]:
for c in df.columns: #итерируемся по всем признакам, включая Sales
    mean, std = df[c].mean(), df[c].std() #mean и std
    df[c]=(df[c] - mean)/std #нормируем данные
df.head() # выводим первые 5 строчек что бы посмотреть что получилось
df.head()

   Unnamed: 0        TV     radio  newspaper     sales
0   -1.719098  0.967425  0.979066   1.774493  1.548168
1   -1.701821 -1.194379  1.080097   0.667903 -0.694304
2   -1.684543 -1.512360  1.524637   1.779084 -0.905135
3   -1.667266  0.051919  1.214806   1.283185  0.858177
4   -1.649989  0.393196 -0.839507   1.278593 -0.215143

**Реализуйте алгоритм координатного спуска:** (3 балла)

Ниже приведен алгоритм:

<a href="https://ibb.co/Th3BQFn"><img src="https://i.ibb.co/DK2DBS6/zascas.jpg" alt="zascas" border="0"></a>

Примечание: 1000 итераций здесь указаны для этого задания, на самом деле их может быть намного больше, нет детерменированного значения.

Вам необходимо реализовать координатный спуск, и вывести веса в модели линейной регрессии.

In [ ]:
#ваш код
# Вариант 1
def stochastic_gradient_descent(X, y, w_init, eta=1e-2, max_iter=1000,
                                min_weight_dist=1e-8, seed=42, verbose=False):
    # Инициализируем расстояние между векторами весов на соседних
    # итерациях большим числом. 
    weight_dist = np.inf
    # Инициализируем вектор весов
    w = w_init
    # Сюда будем записывать ошибки на каждой итерации
    errors = []
    # Счетчик итераций
    iter_num = 0
    # Будем порождать псевдослучайные числа 
    # (номер объекта, который будет менять веса), а для воспроизводимости
    # этой последовательности псевдослучайных чисел используем seed.
    np.random.seed(seed)
        
    # Основной цикл
    while iter_num < max_iter:
        # порождаем псевдослучайный 
        # индекс объекта обучающей выборки
        random_ind = np.random.randint(X.shape[0])
        
        # Обновляем веса
        new_w = stochastic_gradient_step_v(X, y, w, random_ind, eta)
        
        # Расчет ошибки
        error = mserror(y, linear_prediction(X, new_w))
        errors.append(error)
        
        weight_dist = np.linalg.norm(w-new_w)
        w = new_w
        iter_num += 1
    print(weight_dist)            
    return w, errors

# обечение модели
stoch_grad_desc_weights, stoch_errors_by_iter = 
    stochastic_gradient_descent(FeatureMatrix, TargetMatrix, [1,1,1,1],max_iter=1e5)             
print(stoch_grad_desc_weights)

In [ ]:
# Вариант 2

X = df[['TV', 'radio', 'newspaper']]
y = df['sales']
n = len(y)
X = np.append(np.ones((n,1)), X.values.reshape(n,1), axis = 1)
y = df['sales'].values.reshape(n,1)
par = np.zeros((2,1))

In [78]:
def cost_function(X, y , par):
    y_pred = np.dot(X, par)
    error = (y_pred - y)**2
    cost = 1/(n)*np.sum(error)
    return cost

In [79]:
def grad_d(X,y, par, alpha, iterations):
    costs = []
    for i in range(iterations):
        y_pred = np.dot(X, par)
        der = np.dot (X.transpose(), (y_pred - y))/ n
        par -= alpha * der
        costs.append(cost_function(X,y, par))
    return par, costs

In [80]:
par, costs = grad_d(X,y, par, 0.00005, 1000)

In [ ]:
par

In [ ]:
import numpy as np
import statsmodels.api as sm
mod = sm.OLS(y, X)
res = mod.fit()
print(res.summary())

Сравните результаты с реализацией линейной регрессии из библиотеки sklearn:

In [19]:
from sklearn.linear_model import LinearRegression
 
model = LinearRegression(fit_intercept=False)
model.fit(X, y)
 
print(model.coef_)

[ 41.56217205 110.13144155  73.52860638  -0.55006384]

Если вы все сделали верно, они должны практически совпасть!

## Стохастический градиентный спуск (6 баллов)

**Отмасштабируйте столбцы исходной матрицы *X* (которую мы не нормализовали еще!). Для того, чтобы это сделать, надо вычесть из каждого значения среднее и разделить на стандартное отклонение** (0.5 баллов)

In [26]:
#ваш код
for c in df.columns: #итерируемся по всем признакам, включая Sales
    mean, std = df[c].mean(), df[c].std() #mean и std
    df[c]=(df[c] - mean)/std #нормируем данные
df.head() # выводим первые 5 строчек что бы посмотреть что получилось

   Unnamed: 0        TV     radio  newspaper     sales
0   -1.719098  0.967425  0.979066   1.774493  1.548168
1   -1.701821 -1.194379  1.080097   0.667903 -0.694304
2   -1.684543 -1.512360  1.524637   1.779084 -0.905135
3   -1.667266  0.051919  1.214806   1.283185  0.858177
4   -1.649989  0.393196 -0.839507   1.278593 -0.215143

**Добавим единичный столбец**

In [27]:
X = np.hstack([np.ones(X.shape[0]).reshape(-1, 1), X])
df.head()

   Unnamed: 0        TV     radio  newspaper     sales
0   -1.719098  0.967425  0.979066   1.774493  1.548168
1   -1.701821 -1.194379  1.080097   0.667903 -0.694304
2   -1.684543 -1.512360  1.524637   1.779084 -0.905135
3   -1.667266  0.051919  1.214806   1.283185  0.858177
4   -1.649989  0.393196 -0.839507   1.278593 -0.215143

**Создайте функцию mse_error для вычисления среднеквадратичной ошибки, принимающую два аргумента: реальные значения и предсказывающие, и возвращающую значение mse** (0.5 балла)

In [28]:
#ваш код
def mserror(y, y_pred):
    return ( 
      		(y-y_pred)**2 # считаем квадраты отклонения 
           ).sum()/len(y_pred) # суммируем их и делим на длину вектора
    
print(mserror(np.array([1, 2, 3]), np.array([0.8, 1.97, 2.99])))
print(mserror(np.array([1, 2, 3]), np.array([0.9, 1.97, 2.99])))
print(mserror(np.array([1, 2, 3]), np.array([0.99, 1.97, 2.99])))
print(mserror(np.array([1, 2, 3]), np.array([0.99, 1.99, 2.99])))
print(mserror(np.array([1, 2, 3]), np.array([0.99999, 1.999999, 2.999999])))

0.01366666666666666
0.003666666666666664
0.0003666666666666658
9.99999999999987e-05
3.399999999973494e-11

**Сделайте наивный прогноз: предскажите продажи средним значением. После этого рассчитайте среднеквадратичную ошибку для этого прогноза** (0.5 балла)

In [29]:
#ваш код
from sklearn.metrics import mean_squared_error
res1 = df.sales.quantile(q=0.50)
print("Mean sales ", res1)
answer1 = mserror(res1, df.sales)
print("Mean sales error ", answer1)

Mean sales  -0.21514314223086306
Mean sales error  1.0412865716489694

**Создайте функцию *lin_pred*, которая может по матрице предикторов *X* и вектору весов линейной модели *w* получить вектор прогнозов** (0.5 балла)

In [30]:
#ваш код
def normal_equation(X, y):
    a = np.dot(X.T, X) # преобразуем левую часть
    b = np.dot(X.T, y) # преобразуем правую часть
    res = np.linalg.solve(a, b) # решение
    return res

FeatureMatrix = df[['TV', 'radio', 'newspaper']].values
TargetMatrix  = df.sales.values

norm_eq_weights= normal_equation(FeatureMatrix, TargetMatrix)
print(norm_eq_weights)

def linear_prediction(X, w):
    return np.dot(X, w)
 
y_pred = linear_prediction(FeatureMatrix, norm_eq_weights)
print(mserror(TargetMatrix, y_pred))

[ 0.75306591  0.53648155 -0.00433069]
0.10227541501194264

**Создайте функцию *stoch_grad_step* для реализации шага стохастического градиентного спуска. (1.5 балла) 
Функция должна принимать на вход следующие аргументы:**
* матрицу *X*
* вектора *y* и *w*
* число *train_ind* - индекс объекта обучающей выборки (строки матрицы *X*), по которому считается изменение весов
* число *$\eta$* (eta) - шаг градиентного спуска

Результатом будет вектор обновленных весов

Шаг для стохастического градиентного спуска выглядит следующим образом:

$$\Large w_j \leftarrow w_j - \frac{2\eta}{\ell} \sum_{i=1}^\ell{{x_{ij}((w_0 + w_1x_{i1} + w_2x_{i2} +  w_3x_{i3}) - y_i)}}$$

Для того, чтобы написать функцию, нужно сделать следующее:
    
*  посчитать направление изменения: умножить объект обучающей выборки на 2 и на разницу между предсказанным значением и реальным, а потом поделить на количество элементов в выборке.
* вернуть разницу между вектором весов и направлением изменения, умноженным на шаг градиентного спуска

In [31]:
#ваш код
def stochastic_gradient_step(X, y, w, train_ind, eta=0.01):
    N = X.shape[0]                   # всего обьектов (нормировка)
    x = X[train_ind]                 # текуший случайный k обьект 
    y_pred = linear_prediction(x, w) # предсказание для к случайного обьекта 
    rs = (y_pred - y[train_ind])     # регрессионый остаток для k обьекта 
    
    grad0 = 2.0/N*x[0]*rs
    grad1 = 2.0/N*x[1]*rs
    grad2 = 2.0/N*x[2]*rs
    grad3 = 2.0/N*x[3]*rs
    return  w - eta * np.array([grad0, grad1, grad2, grad3])

**Создайте функцию *stochastic_gradient_descent*, для реализации стохастического градиентного спуска (2.5 балла)**

**Функция принимает на вход следующие аргументы:**
- Матрицу признаков X
- Целевую переменнную
- Изначальную точку (веса модели)
- Параметр, определяющий темп обучения
- Максимальное число итераций
- Евклидово расстояние между векторами весов на соседних итерациях градиентного спуска,при котором алгоритм прекращает работу 

**На каждой итерации в вектор (список) должно записываться текущее значение среднеквадратичной ошибки. Функция должна возвращать вектор весов $w$, а также вектор (список) ошибок.**

Алгоритм сследующий:
    
* Инициализируйте расстояние между векторами весов на соседних итерациях большим числом (можно бесконечностью)
* Создайте пустой список для фиксации ошибок
* Создайте счетчик итераций
* Реализуйте оновной цикл обучения пока расстояние между векторами весов больше того, при котором надо прекратить работу (когда расстояния станут слишком маленькими - значит, мы застряли в одном месте) и количество итераций меньше максимально разрешенного: сгенерируйте случайный индекс, запишите текущую ошибку в вектор ошибок, запишите в переменную текущий шаг стохастического спуска с использованием функции, написанной ранее. Далее рассчитайте текущее расстояние между векторами весов и прибавьте к счетчику итераций 1.
* Верните вектор весов и вектор ошибок

In [32]:
# ваш код
def stochastic_gradient_descent(X, y, w_init, eta=1e-2, max_iter=1e4,
                                min_weight_dist=1e-8, seed=42, verbose=False):
    # Инициализируем расстояние между векторами весов на соседних
    # итерациях большим числом. 
    weight_dist = np.inf
    # Инициализируем вектор весов
    w = w_init
    # Сюда будем записывать ошибки на каждой итерации
    errors = []
    # Счетчик итераций
    iter_num = 0
    # Будем порождать псевдослучайные числа 
    # (номер объекта, который будет менять веса), а для воспроизводимости
    # этой последовательности псевдослучайных чисел используем seed.
    np.random.seed(seed)
        
    # Основной цикл
    while iter_num < max_iter:
        # порождаем псевдослучайный 
        # индекс объекта обучающей выборки
        random_ind = np.random.randint(X.shape[0])
        
        # Обновляем веса
        new_w = stochastic_gradient_step_v(X, y, w, random_ind, eta)
        
        # Считаем ошибку
        error = mserror(y, linear_prediction(X, new_w))
        errors.append(error)
        
        weight_dist = np.linalg.norm(w-new_w)
        w = new_w
        iter_num += 1
    print(weight_dist)            
    return w, errors

 **Запустите $10^5$ итераций стохастического градиентного спуска. Укажите вектор начальных весов, состоящий из нулей. Можете поэкспериментировать с параметром, отвечающим за темп обучения.**

**Постройте график зависимости ошибки от номера итерации**

In [ ]:
# ваш код
import matplotlib.pyplot as plt
plot(range(len(stoch_errors_by_iter)), stoch_errors_by_iter)

**Выведите вектор весов, к которому сошелся метод.**

In [ ]:
# ваш код
%%time
stoch_grad_desc_weights, stoch_errors_by_iter =
  stochastic_gradient_descent(FeatureMatrix, TargetMatrix, [1,1,1,1],max_iter=1e5)             
print(stoch_grad_desc_weights)

**Выведите среднеквадратичную ошибку на последней итерации.**

In [ ]:
# ваш код
from sklearn.metrics import mean_squared_error

print(mean_squared_error(np.array([1, 2, 3]), np.array([0.99, 1.99, 2.99])))
#0.0001

# или альтернативный метод
res1 = adver_data.Sales.quantile(q=0.50)
print("Mean sales ", res1)
answer1 = mserror(res1, adver_data.Sales)
print("Mean sales error ", answer1)